@model TopicModel

@if (!string.IsNullOrEmpty(Model.Title))
{
    <div class="head">
        <h4 class="title">@Html.Raw(Model.Title)</h4>
    </div>
}
<div class="body" data-title="TopicBlock">
    @Html.Raw(Model.Body)
</div>
