@model CompanyCategoryModel

@{
    ViewData["Title"] = "Create";
}

<div class="content-header clearfix">
    <h1>
        Sektör Kategorisi
        <small>
            <a asp-action="Index">Listeye Geri Dön</a>
        </small>
    </h1>
</div>
<div class="content">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-action="Create" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-3">
                           <ags-label asp-for="Name" />
                        </div>
                        <div class="col-md-9">
                            <ags-editor asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <ags-label asp-for="ParentId" />
                        </div>
                        <div class="col-md-9">
                         <ags-select asp-for="ParentId" asp-items="@Model.AvailableCategories"/>
                        <span asp-validation-for="ParentId"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <ags-label asp-for="StartDate"/>

                        </div>
                        <div class="col-md-9">
                        <ags-editor asp-for="StartDate" />
                        <span asp-validation-for="StartDate" ></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <ags-label asp-for="EndDate" class="control-label"/>
                        </div>
                        <div class="col-md-9">

                        <ags-editor asp-for="EndDate" />
                        <span asp-validation-for="EndDate" ></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <ags-label asp-for="Published"/>
                            </div>
                            <div class="col-md-9"></div>
                                <ags-editor asp-for="Published" />
                            </div>
                    <div class="form-group">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9">
                            <input type="submit" value="Kaydet" class="btn btn-warning" />
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>

</div>


