@model  Ags.Data.Domain.Common.Section
.Section
<div class="content">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-3">
                        <ags-label asp-for="Name" />
                    </div>
                    <div class="col-md-9">
                        <ags-editor asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <ags-label asp-for="Decription" />
                    </div>
                    <div class="col-md-9">
                        <ags-editor asp-for="Decription" />
                        <span asp-validation-for="Decription" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>