@model Ags.Data.Domain.Common.Section

@{
    ViewData["Title"] = "Güncelle";
}


<form asp-action="Edit" class="form-horizontal">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Güncelle
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Index">Listeye Dön</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Güncelle
            </button>
        </div>
    </div>
@await Html.PartialAsync("_CreateOrUpdate", Model)
     <input type="hidden" asp-for="Id" />
</form>

