@model NewsContentModel


@{
    //page title
    ViewBag.Title = "Haberler";
    //active menu item (system name)
}
<ags-antiforgery-token />
<form asp-controller="News" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Ekle
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <ags-tabs id="news-tabs">
                <ags-tab asp-name="news-items" asp-title="Haber Listesi" asp-default="true">@await Html.PartialAsync("_List.NewsItems", Model.NewsItems)</ags-tab>
                <ags-tab asp-name="news-comments" asp-title="Yorumlar">@await Html.PartialAsync("_List.Comments", Model.NewsComments)</ags-tab>
            </ags-tabs>
        </div>
    </div>


</form>
