@model NewsItemModel

@{
    //page title
    ViewBag.Title = "EditNewsItemDetails";
    //active menu item (system name)
   
}


<form asp-controller="News" asp-action="NewsItemEdit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Detay Düzenle - @Model.Title
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List" asp-controller="News">Geri Dön</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="button" onclick="javascript:OpenWindow('@Url.Action("Index","News", new {id=Model.Id,title = Model.SeName})', 800, 600, true); return false;" class="btn bg-purple">
                <i class="fa fa-eye"></i>
               Göster
            </button>
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
               Kaydet
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
              Kaydet ve Devam Et
            </button>
            <span id="newsitem-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
              Sil
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<ags-delete-confirmation asp-model-id="@Model.Id" asp-button-id="newsitem-delete" />
