
<div class="row row-1" data-title="RightSlider" id="right-slider">
</div>

<script on-content-loaded="true">
$(document).ready(function () {
    //getPopulerNews
    var urlPaths = '/Common/GetRightSlider';
    $("#wait1").css("display", "block");
    var jqxhr = $.post(urlPaths, function (data) {

    }).done(function (data) {
        var models = data;
        $.each(models,
            function (i, model) {
                var item =
                    `<div class="post post-overlay hero-post col-lg-12 col-md-6 col-12"><div class="post-wrap"><div class="image">
                            <img src="${model.PictureUrl
                    }" width="290" height="222" class="img-responsive" alt="post">
                            </div><div class="content"><h4 class="title"><a href="/haberdetay/${model.Id}/${model
                        .SeName}">${model.Title}</a>
                           </h4></div></div></div>`;
                $('#right-slider').append(item);
            });
    }).fail(function () { }
    ).always(function () {

    });
    jqxhr.complete(function() {
        $("#wait1").css("display", "none");
    });

});
</script>