@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_OneColumnClear";
}

<h1>@ViewData["Title"].</h1>
<p>
    Şifreniz Değiştirildi <a asp-controller="Account" asp-action="Login">Giriş için Tıklayınız</a>.
</p>
