@model Tuple<string>
<div class="footer-bottom-section section bg-dark" data-title="CopyRight">
            <div class="container">
                <div class="row">
                    <div class="copyright text-center col">
                        <p>@Model.Item1 @DateTime.Now.Year</p>
                    </div>
                </div>
            </div>
        </div>