
<div class="breaking-news-section section" data-title="BreakingNews">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breaking-news-wrapper">
                    <h5 class="breaking-news-title float-left">SON DAKİKA</h5>
                    <ul class="breaking-news-ticker float-left" id="breaking-news">
                    </ul>
                    <div class="breaking-news-nav">
                        <button class="news-ticker-prev"><i class="fa fa-angle-left"></i></button>
                        <button class="news-ticker-next"><i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
