@{
    Layout = "_OneColumn";
    ViewBag.Title="Site Şu Anda Kapalıdır.";
}
<div class="page store-closed-page">
    <div class="page-title">
        <h1>Sitemiz Kapalı</h1>
    </div>
    <div class="page-body">
    Yakında Hizmetinizde Olacağız
    </div>
</div>
