@using Ags.Data.Domain
@using Ags.Web.Framework.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User)){
    <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User).ToLower()!</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="LogOff">Çıkış</a></li>
    if (User.IsInRole(CustomerRole.Constants.CustomerAdministratorsRole)
        ||User.IsInRole(CustomerRole.Constants.CustomerManagersRole)){
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Panel</a>
        </li>
    }
}
else{
    <li><a asp-area="" asp-controller="Account" asp-action="Register"><i class="fa fa-user-secret"></i>Kayıt</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-user-circle-o"></i>Giriş</a></li>
}

