@model TopicSearchModel

@{
    //page title
    ViewBag.Title = "Topics";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Topics");
}

<ags-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
       Sayfa
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Ekle
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="topics-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#topics-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "Topic"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: function() {
                                                var data = {
                                                    SearchStoreId: $('#SearchStoreId').val(),
                                                    SearchKeywords: $('#SearchKeywords').val()
                                                };
                                                addAntiForgeryToken(data);
                                                return data;
                                            }
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "Silmek İstediğinizden Eminmisiniz",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                {
                                    field: "SystemName",
                                    title: "Name"
                                }, {
                                    field: "Published",
                                    title: "Yayında",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                },  {
                                    field: "IncludeInTopMenu",
                                    title: "Üst Menüye Ekle",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(IncludeInTopMenu) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }, {
                                    field: "IncludeInFooterColumn1",
                                    title: "Alt Menü 1 Kolona Ekle",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(IncludeInFooterColumn1) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }, {
                                    field: "IncludeInFooterColumn2",
                                    title: "2 Kolona Ekle",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(IncludeInFooterColumn2) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }, {
                                    field: "IncludeInFooterColumn3",
                                    title: "3 Kolona Ekle",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(IncludeInFooterColumn3) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }, {
                                    field: "DisplayOrder",
                                    title: "Sırası",
                                    width: 100
                                }, {
                                    field: "Id",
                                    title: "Düzenle",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>Düzenle</a>'                                }
                                ]
                            });
                        });
                    </script>

                    <script>
                        $(document).ready(function () {
                            //search button
                            $('#search-topics').click(function () {
                                //search
                                var grid = $('#topics-grid').data('kendoGrid');
                                grid.dataSource.read();
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>