<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        AGS Yönetim Paneli
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.ToLongDateString() <a href="#">AGS Yazılım</a>.</strong> All rights reserved.
</footer>