<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Anasayfa" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" nopResource="Kontrol Paneli" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Haber Yönetimi" nopResource="Haber Yönetimi"  IconClass="fa-book" >
      <siteMapNode SystemName="Kategoriler" nopResource="Kategoriler"  controller="Category" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Haberler" nopResource="Haberler"  controller="News" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Köşe Yazıları" nopResource="Köşe Yazıları"  controller="Blog" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Anket Yönetimi" nopResource="Anket Yönetimi"  controller="Poll" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="E-Gazete" nopResource="E-Gazete"  controller="EnewsPapers" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Content Management" nopResource="İçerik Yönetimi"  IconClass="fa-cubes">
      <siteMapNode SystemName="Sayfa Oluşturma" nopResource="Sayfa Oluşturma"  controller="Topic" action="List" IconClass="fa-dot-circle-o" />
      </siteMapNode>
    <siteMapNode SystemName="Reklam Yönetimi" nopResource="Reklam Yönetimi"  IconClass="fa-cubes">
      <siteMapNode SystemName="Reklam" nopResource="Reklam"  controller="Advertisements" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Firma Sektör" nopResource="Firma Sektör"  controller="CompanyCategories" action="Index"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Firma Ekle" nopResource="Firma Ekle"  controller="Companys" action="Index"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Ortam Yönetimi" nopResource="Ortam Yönetimi" IconClass="fa-shopping-cart">
      <siteMapNode SystemName="Galeri" nopResource="Galeri"  controller="PhotoGalleries" action="List"  IconClass="fa-dot-circle-o"/>
       <siteMapNode SystemName="Video" nopResource="Video Oluştur"  controller="Videos" action="Index"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Slider" nopResource="Slider Oluştur"  controller="Sliders" action="Index"  IconClass="fa-dot-circle-o"/>
      </siteMapNode>
    <siteMapNode SystemName="Customer" nopResource="Kullanıcılar"  IconClass="fa-user" >
      <siteMapNode SystemName="Customers list" nopResource="Kullanıcı Listesi"  controller="Customer" action="Index" IconClass="fa-dot-circle-o" />
      <!--<siteMapNode SystemName="Customer roles" nopResource="Kullanıcı Rol Tanımları"  controller="CustomerRole" action="List" IconClass="fa-dot-circle-o" />-->
      <siteMapNode SystemName="Activity log" nopResource="Aktif Log" controller="ActivityLog" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Configuration" nopResource="Yapılandırma" IconClass="fa-gears">
      <siteMapNode SystemName="Settings" nopResource="Ayarlar"  IconClass="fa-dot-circle-o" >
        <siteMapNode SystemName="General settings" nopResource="Genel Ayarlar" controller="Settings" action="GeneralCommon" IconClass="fa-genderless"/>
        <siteMapNode SystemName="All settings" nopResource="Tüm Ayarlar" controller="Settings" action="Index" IconClass="fa-genderless"/>
      </siteMapNode>
      <siteMapNode SystemName="Email accounts" nopResource="Mail Ayarları"  controller="EmailAccount" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Stores" nopResource="Site Ayarları"  controller="Stores" action="Index" IconClass="fa-dot-circle-o"/>
      </siteMapNode>
    <siteMapNode SystemName="System" nopResource="Sistem"  IconClass="fa-cube">

      <siteMapNode SystemName="Log" nopResource="İşlem Bilgileri"  controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Templates" nopResource="Şablonlar"  controller="Template" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Modül" nopResource="Modül Yönetimi"  IconClass="fa-line-chart">
      <siteMapNode SystemName="Section" nopResource="Section Yönetimi"  controller="Sections" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Modül Yönetimi" nopResource="Modül Yönetimi"  controller="Modules" action="Index" IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Şehirler" nopResource="Şehirler"  controller="StateProvinces" action="Index" IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Notices" nopResource="Duyurular"  controller="Notices" action="Index" IconClass="fa-dot-circle-o"/>

    </siteMapNode>
  </siteMapNode>
</siteMap>

