@model DovizModel
<li class="disabled block d-none d-md-block">

    <span class="title">
        <i class="fa fa-dollar fa-lg"></i>
        <span class="name">
            Dolar
        </span>
        <span class="value">
            @Model.Dolar
        </span>
    </span>
</li>
<li class="disabled block d-none d-md-block">
    <span class="title">
        <i class="fa fa-euro fa-lg"></i>
        <span class="name">
            Euro
        </span>
        <span class="value">
            @Model.Euro
        </span>
    </span>
</li>
<li class="disabled block d-none d-md-block">
    <span class="title">
        <i class="fa fa-diamond fa-lg"></i>
        <span class="name">
            Altın
        </span>
        <span class="value">
            @Model.Gold
        </span>
    </span>

</li>